html,
body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}

.header {
  background: rgb(34, 193, 195);
  background: -moz-linear-gradient(
    45deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(177, 45, 253, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(177, 45, 253, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(177, 45, 253, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#b12dfd",GradientType=1);
  opacity: 0.8;
}
