@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

html,
body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}

.header {
  background: #bf953f;
  background: -moz-linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  background: -webkit-linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#b12dfd",GradientType=1);
  opacity: 0.8;
}

.model-viewer {
  height: calc(100vh - 60px);
  width: 100%;
}

.ar-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 16px;
  padding: 8px;
  border: 1px solid #bf953f;
  border-radius: 8px;
  background-color: white;
}

.controls {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  bottom: 16px;
  left: 0;
  right: 0;
}

input[type="file"] {
  display: none;
}

.controls-file-upload {
  grid-column: 2;
  display: inline-block;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #bf953f;
  border-radius: 8px;
  background-color: white;
  text-align: center;
}

.controls-size {
  grid-column: 2;
  display: flex;
  gap: 20px;
  padding: 8px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}
